VITE_FIREBASE_API_KEY=tu-wklej-apiKey
VITE_FIREBASE_AUTH_DOMAIN=tu-wklej-authDomain
VITE_FIREBASE_PROJECT_ID=tu-wklej-projectId
VITE_FIREBASE_STORAGE_BUCKET=tu-wklej-storageBucket
VITE_FIREBASE_MESSAGING_SENDER_ID=tu-wklej-messagingSenderId
VITE_FIREBASE_APP_ID=tu-wklej-appId
